In [1]:
import numpy
import pandas as pd
import matplotlib.pyplot as plt
from darts import TimeSeries

In [2]:
print("hello")

hello

In [3]:
df = pd.read_csv("../data/AirPassengers.csv")
df.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121